* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	background-color: #444;
	font-family: 'Montserrat', sans-serif;
}

.hero-img {
	position: relative;
	height: 100vh;
	background-image: url(/img/herobackgroung.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;

	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -10;
	}

	.text {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		color: white;
		z-index: 5;
		color: #fff;
		height: 100%;
	}

	#register {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	#login {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.header {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	#postsContainer {
		div {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;

			margin: auto;
			width: 900px;
			min-height: 200px;
			border-width: 1px;
			border-style: solid;
			border-color: rgb(107, 107, 107);
			text-align: center;
			color: white;
			border-radius: 10px;
		}

		p {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	.all-data-post {
		position: relative;
		background-image: url('/img/herobackgroung.jpg');
		background-position: bottom;
		background-attachment: fixed;
		background-size: cover;
		z-index: 0;

		.shadow {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 9, 27, 0.85);
			z-index: -5;
		}
		#data {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}

		.header {
			color: white;
			margin-bottom: 20px;
			.input {
				width: 600px;
			}

			.button-add {
				margin-top: 20px;
				margin-bottom: 20px;
			}

			#numberPost {
				margin-top: 20px;
			}

			.button-logout {
				margin-bottom: 20px;
			}
		}
	}
}

@media (min-width: 325px) {
	.hero-img {
		h1 {
			margin: 26px;
			font-size: 30px;
			font-family: 'Russo One', sans-serif;
		}

		h2 {
			margin: 30px;
			font-size: 20px;
			text-align: center;
		}

		p {
			margin: 20px;
			font-size: 16px;
		}

		a {
			text-decoration: none;
			color: rgb(168, 206, 255);
		}

		.fa-solid {
			margin-right: 10px;
		}
	}

	#register {
		.input {
			margin-bottom: 10px;
			height: 30px;
			width: 200px;
		}

		.label {
			font-size: 20px;
		}

		.button {
			margin-top: 40px;
			height: 40px;
			width: 200px;
			font-size: 25px;
		}
	}

	#login {
		.input {
			margin-bottom: 10px;
			height: 30px;
			width: 200px;
		}

		.button-add {
			margin-top: 10px;
		}
	}

	.header {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	#postsContainer {
		div {
			margin: auto;
			width: 340px;
			min-height: 200px;
			border-width: 1px;
			border-style: solid;
			border-color: rgb(107, 107, 107);
			text-align: center;
			color: white;
			border-radius: 10px;
		}

		p {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	.all-data-post {
		position: relative;
		background-image: url('/img/herobackgroung.jpg');
		background-position: bottom;
		background-attachment: fixed;
		background-size: cover;
		z-index: 0;

		.shadow {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 9, 27, 0.85);
			z-index: -5;
		}
		#data {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}

		.header {
			color: white;
			margin-bottom: 20px;
			.input {
				width: 600px;
			}

			.button-add {
				margin-top: 20px;
				margin-bottom: 20px;
			}

			#numberPost {
				margin-top: 20px;
			}

			.button-logout {
				margin-bottom: 20px;
			}

			.form-control {
				width: 330px;
			}
		}
	}
}

@media (min-width: 525px) {
	.hero-img {
		h1 {
			margin: 26px;
			font-size: 30px;
			font-family: 'Russo One', sans-serif;
		}

		h2 {
			margin: 30px;
			font-size: 20px;
			text-align: center;
		}

		p {
			margin: 20px;
			font-size: 16px;
		}

		a {
			text-decoration: none;
			color: rgb(168, 206, 255);
		}

		.fa-solid {
			margin-right: 10px;
		}
	}

	#register {
		.input {
			margin-bottom: 10px;
			height: 30px;
			width: 200px;
		}

		.label {
			font-size: 20px;
		}

		.button {
			margin-top: 40px;
			height: 40px;
			width: 200px;
			font-size: 25px;
		}
	}

	#login {
		.input {
			margin-bottom: 10px;
			height: 30px;
			width: 200px;
		}

		.button-add {
			margin-top: 10px;
		}
	}

	.header {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	#postsContainer {
		div {
			margin: auto;
			width: 500px;
			min-height: 200px;
			border-width: 1px;
			border-style: solid;
			border-color: rgb(107, 107, 107);
			text-align: center;
			color: white;
			border-radius: 10px;
		}

		p {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	.all-data-post {
		position: relative;
		background-image: url('/img/herobackgroung.jpg');
		background-position: bottom;
		background-attachment: fixed;
		background-size: cover;
		z-index: 0;

		.shadow {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 9, 27, 0.85);
			z-index: -5;
		}
		#data {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}

		.header {
			color: white;
			margin-bottom: 20px;
			.input {
				width: 600px;
			}

			.button-add {
				margin-top: 20px;
				margin-bottom: 20px;
			}

			#numberPost {
				margin-top: 20px;
			}

			.button-logout {
				margin-bottom: 20px;
			}

			.form-control {
				width: 515px;
			}
		}
	}
}

@media (min-width: 768px) {
	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url(/img/herobackgroung.jpg);
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;

		.hero-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			z-index: -10;
		}

		.text {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			color: white;
			z-index: 5;
			color: #fff;
			height: 100%;
		}

		h1 {
			margin: 30px;
			font-size: 50px;
			font-family: 'Russo One', sans-serif;
		}

		h2 {
			margin: 30px;
			font-size: 30px;
		}

		p {
			margin: 10px;
			font-size: 22px;
		}

		a {
			text-decoration: none;
			color: rgb(168, 206, 255);
		}

		.fa-solid {
			margin-right: 10px;
		}
	}

	#register {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		.input {
			margin-bottom: 10px;
			height: 30px;
			width: 200px;
		}

		.label {
			font-size: 20px;
		}

		.button {
			margin-top: 40px;
			height: 40px;
			width: 200px;
			font-size: 25px;
		}
	}

	#login {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		.input {
			margin-bottom: 10px;
			height: 30px;
			width: 200px;
		}

		.button-add {
			margin-top: 10px;
		}
	}

	.header {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	#postsContainer {
		div {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;

			margin: auto;
			width: 700px;
			min-height: 200px;
			border-width: 1px;
			border-style: solid;
			border-color: rgb(107, 107, 107);
			text-align: center;
			color: white;
			border-radius: 10px;
		}

		p {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	.all-data-post {
		position: relative;
		background-image: url('/img/herobackgroung.jpg');
		background-position: bottom;
		background-attachment: fixed;
		background-size: cover;
		z-index: 0;

		.shadow {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 9, 27, 0.85);
			z-index: -5;
		}
		#data {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}

		.header {
			color: white;
			margin-bottom: 20px;
			.input {
				width: 600px;
			}

			.button-add {
				margin-top: 20px;
				margin-bottom: 20px;
			}

			#numberPost {
				margin-top: 20px;
			}

			.form-control {
				width: 700px;
			}

			.button-logout {
				margin-bottom: 20px;
			}
		}
	}
}

@media (min-width: 992px) {
	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url(/img/herobackgroung.jpg);
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;

		.hero-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			z-index: -10;
		}

		.text {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			color: white;
			z-index: 5;
			color: #fff;
			height: 100%;
		}

		h1 {
			margin: 30px;
			font-size: 50px;
			font-family: 'Russo One', sans-serif;
		}

		h2 {
			margin: 30px;
			font-size: 30px;
		}

		p {
			margin: 10px;
			font-size: 22px;
		}

		a {
			text-decoration: none;
			color: rgb(168, 206, 255);
		}

		.fa-solid {
			margin-right: 10px;
		}
	}

	#register {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		.input {
			margin-bottom: 10px;
			height: 30px;
			width: 200px;
		}

		.label {
			font-size: 20px;
		}

		.button {
			margin-top: 40px;
			height: 40px;
			width: 200px;
			font-size: 25px;
		}
	}

	#login {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		.input {
			margin-bottom: 10px;
			height: 30px;
			width: 200px;
		}

		.button-add {
			margin-top: 10px;
		}
	}

	.header {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	#postsContainer {
		div {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;

			margin: auto;
			width: 900px;
			min-height: 200px;
			border-width: 1px;
			border-style: solid;
			border-color: rgb(107, 107, 107);
			text-align: center;
			color: white;
			border-radius: 10px;
		}

		p {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	.all-data-post {
		position: relative;
		background-image: url('/img/herobackgroung.jpg');
		background-position: bottom;
		background-attachment: fixed;
		background-size: cover;
		z-index: 0;

		.shadow {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 9, 27, 0.85);
			z-index: -5;
		}
		#data {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}

		.header {
			color: white;
			margin-bottom: 20px;
			.input {
				width: 600px;
			}

			.button-add {
				margin-top: 20px;
				margin-bottom: 20px;
			}

			#numberPost {
				margin-top: 20px;
			}

			.form-control {
				width: 900px;
			}

			.button-logout {
				margin-bottom: 20px;
			}
		}
	}
}
